GEMINI_API_KEY=AIzaSyBRJC7bwbYJ1wszPZlRD189TygdM9mU_CA
PORT=8787
SESSION_SECRET=replace_me
PG_USER=replace_me
PG_HOST=replace_me
PG_DATABASE=replace_me
PG_PASSWORD=replace_me
PG_PORT=5432
GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
